@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@400;700&display=swap');

/* CSS Variables */
:root {
    --primary-color: #2660A4;
    --secondary-color: #859db8;
    --text-color: #000000;
    --background-color: #C9D8E9;
    --font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    --header-bg-color: #FFFFFF;
    /* White header background */
    --header-height: 60px;
    --footer-height: auto;
}

/* General Styles */
body {
    font-family: var(--font-family);
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

p {
    line-height: 1.5em;
}


body img {
    display: block;
    margin: 0 auto 20px;
    margin-top: 20px;
    max-width: 100%;
    border-radius: 8px;
}

h2,
h3 {
    color: var(--primary-color);
}

/* Header Styles */
header {
    height: var(--header-height);
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 150px;
    margin-right: 20px;
}

/* Navigation Styles */
nav {
    display: flex;
    flex: 1;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--primary-color);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--header-bg-color);
}



/* Used on the allstarStatus page*/
#allstarBubbleMap {
    border: 0.1em solid #000000;
    border-radius: 8px;
    overflow: hidden;
}

/* Article Body */
#content {
    flex: 1;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #859db8;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #2660A4;
    color: #FFFFFF;
    flex-wrap: wrap;
    margin-top: 0;
}

#contact_section {
    max-width: 50%;
    padding: 10px;
    margin-left: 20px;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

footer a:hover {
    color: #2660A4;
    border-bottom: 1px solid #2660A4;
}

footer h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

footer p {
    font-size: 1em;
    margin: 5px 0;
}

#footer_links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#footer_links a {
    padding: 5px 10px;
    background-color: #2660A4;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
}

#footer_links a:hover {
    background-color: #1e4a7a;
}


/* Mobile Theme (Less than 700px width) */
@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    #logo {
        margin-bottom: 10px;
        margin-right: 0;
    }

    nav {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    nav a {
        width: 100%;
        text-align: center;
    }

    .article {
        padding: 20px;
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: var(--text-color);
        flex: 1;
    }

    #RepeaterStats {
        white-space: pre-wrap;
        display: block;

        font-weight: normal;
        text-decoration: none;
        margin-top: 10px;
        padding: 5px 10px;
        background-color: var(--secondary-color);
        color: var(--header-bg-color);
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    #RepeaterStats:hover {
        color: var(--primary-color);
        background-color: var(--background-color);
    }
}

/* Desktop/Tablet theme  (Greater than 700 pixel width) */
@media (min-width: 701px) {

    .article {
        padding: 20px;
        max-width: 900px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: var(--text-color);
        flex: 1;
    }

    #RepeaterStats {
        font-weight: normal;
        text-decoration: none;
        padding: 5px 10px;
        background-color: var(--secondary-color);
        color: var(--header-bg-color);
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    #RepeaterStats:hover {
        color: var(--primary-color);
        background-color: var(--background-color);
    }
}